.fuente{
    color:rgb(153, 47, 47);
    font-size: em;
}
.button1{
    width: 6%;
    height: 5%;
}
.button2{
    width: 6%;
    height: 5%;
}
.button3{
    width: 6%;
    height: 5%;
}